@import "tailwindcss";

:root {
  --background: #000000;
  --card: #0B0F1A;
  --border: #111827;
  --primary: #2563EB;
  --primary-light: #3B82F6;
  --text-primary: #F9FAFB;
  --text-secondary: #9CA3AF;
}

body {
  background: var(--background);
  color: var(--text-primary);
  font-family: var(--font-geist-sans);
}